* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato';
}
.container {
    margin: 0 auto;
    width: 70%;
    height: 100vh;
}
.logoBool {
    margin: 20px 0;
    text-align: center;
}
.logoBool img {
    max-width: 300px;
}
.box {
    text-align: center;
}
.box input {
    padding: 10px 20px;
    border-radius: 10px;
    border-width: 1px;
    min-width: 300px;
    margin-right: 10px;
}
.box button {
    padding: 10px 20px;
    border-radius: 10px;
    border-width: 1px;
}
.box button.hidden:hover {

}
.todoAll-container {
    margin: 40px; 
    border-radius: 10px;
    background: #F5F7F7;
    padding: 30px;
}
.todoAll-container ul {
    list-style: none;
}
.todo {
    border-bottom: 1px solid #DADEE1;
    padding: 10px; 
}
.todo:hover {
    background: white;
}
.todo i {
    float: right;
}
.cursor-pointer {
    cursor: pointer;
}